/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: sans-serif;
  margin: 0;
  /*font-family: 'Source Sans Pro', sans-serif;*/

}

button {
  cursor:pointer;
}

.row {
  display: flex;
}

.header-row {
  align-items: center;
  gap: 20px;
}

.header-row:hover {
  color: #3E96F4;
}

.header-name {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

.header-img {
  aspect-ratio: auto;
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.header {
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  position: sticky;

  height: 70px;

  top: 0;
  background: white;    /* Needed if content scrolls behind it */
  z-index: 1000;        /* Ensures it stays above other content */
}

.header-name {
  font-weight: bold;
  font-size: 20px;
}

.header-nav {
  list-style: none;
  gap: 40px;
}

.nav-item {
  display: inline-block;
  font-size: 20px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color .3s
}

.nav-item:hover {
  color: deepskyblue;
}

.about {
  height: calc(100vh - 70px);
  max-height: 120rem;
  position: relative;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../img/common-bg.svg);
}

.about-box {
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.about-hello {
  font-size: 50px;
  letter-spacing: 3px;
}

.about-desc {
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 1.2rem;
}

.about-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #3E96F4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}


.about-button:hover {
  transform: translateY(-3px);
}

.social-media-column {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  padding: .5rem;
}

.social-media-button {
  padding: 10px;
  transition: transform .3s;
}

.social-media-button:hover {
  transform: translateY(-3px)
}

.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%)
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px
  }
}

.about-intro-box {
  padding-top: 50px;
  text-align: center;
  gap: 0;
}

.title-divider {
  width: 40px;
  height: 4px;
  background-color: #3E96F4;
  /* centers the line */
  margin: 0px auto 20px;
  border-radius: 5px;
}

.about-intro-desc {
  font-weight: 500;
  color: #555;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
}

.about-me-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  padding: 5rem 10rem;
}

@media only screen and (max-width: 85rem) {
  .about-me-content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }
}

.about-me-socials {
  text-decoration: underline;
  color: #3E96F4;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.project-box img {
  width: 300px;
  height: 200px;
  object-fit: cover;  /* Crops to fill area without distortion */
  /*flex-shrink: 0;*/
  border-radius: 8px; /* Optional: rounded corners */
}

.app-image {
  height: auto;
  width: 10rem;
}

.projects-container {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  gap: 3rem;
}

.project-box {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-bottom: 40px;
}

.project-box > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-button {
  color: #ffffff;
  background-color: #3E96F4;
  border:none;
  width: 10rem;
  height: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.project-button:hover {
  transform: translateY(-3px);
}

.project-img {
  height: auto;
  width: 20rem;
}

@media (max-width: 1000px) {
  .projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {

  .project-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .project-box img,
  .project-box > div {
    width: 100%;
    max-width: none;
  }
}

.contact__form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
  padding: 2rem;
  max-width: 50%;
  text-align: right;
  width: 50%;
  border-radius: 5px;
  margin: 5rem auto 3rem auto;
}

.contact__form-input {
  color: #333;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

.contact__form-label {
  color: #666;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.submit {
  margin-top: 1rem;
}

.contact-message {
  width: 100%;         /* or a fixed value like 400px */
  height: 200px;       /* fixed height */
  resize: none;        /* optional: prevents user from resizing */
  overflow: auto;      /* shows scrollbars when needed */
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.main-container {
  color: #ffffff;
  background-color: black;
}

.main-footer__icon {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 100%;
}

.main-footer__upper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.main-footer__social-cont {
  display: flex;
  gap: 5px;
}

.main-footer__lower {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  border-color: black;
  border-top-color: white;
  border-width: 1px;
  border-style: solid;
}

.main-footer__short-desc {
  max-width: 40rem;
}

@media (max-width: 750px) {
  .main-footer__upper {
    gap: 1rem;
  }
}

.project-title-container {
  height: 80vh;
  max-height: 120rem;
  position: relative;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../img/common-bg.svg);
}

.project-socials {
  padding-top: 1rem;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  gap: 1.6rem;
}

.download-button {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: #1E201E;
  text-decoration: none;
  border-radius: 4px; /* optional */
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.download-button:hover {
  cursor: pointer;
}

.fa-download {
  font-size: 20px;
  line-height: 1; /* important: avoids vertical misalignment */
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-page-mobile-img {
  width: 20rem;
  height: auto;
}

.project-gallery {
  gap: 1rem;
  padding: 2rem;
}

@media (max-width: 1100px) {
  .project-gallery {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.project-overview {
  padding-top: 4rem;
  padding-left: 30%;
  padding-right: 30%;
}

.jed-link {
  color: dodgerblue;
  text-decoration: underline;
}

.project-overview > p {
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
}

.project-overview > h2 {
  font-size: 1.6rem;
}

.dropbox-button {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: #106cc2;
  text-decoration: none;
  border-radius: 4px; /* optional */
}

.youtube-button {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: #bb0000;
  text-decoration: none;
  border-radius: 4px; /* optional */
}

.column {
  flex-direction: column;
}


.gallery-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr); /* 2 columns */
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

/* On small screens, switch to a single column */
@media (max-width: 1200px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* 1 column */
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
